@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-zinc-900 text-white;
    height: 100%;
}
.rdw-option-active {
    background-color: #4caf50 !important; // Замените на нужный вам цвет
}
// Кастомный скроллбар
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-800 rounded-full;
}
